raspberrypi/node-red-source.json
[{"id":"32df322.7902ace","type":"tab","label":" CallForCode","disabled":false,"info":""},{"id":"70fde09e.3a495","type":"Bme280","z":"32df322.7902ace","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":480,"y":360,"wires":[["9ac515d7.5af848"]]},{"id":"9609d3d8.c2b34","type":"inject","z":"32df322.7902ace","name":"triger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"x":310,"y":360,"wires":[["70fde09e.3a495"]]},{"id":"b83977e7.486e48","type":"debug","z":"32df322.7902ace","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":420,"wires":[]},{"id":"9ac515d7.5af848","type":"function","z":"32df322.7902ace","name":"all_status","func":"var temperature = (msg.payload[\"temperature_C\"]*1.8) + 32;\nvar humidity = msg.payload[\"humidity\"];\nvar pressuer = msg.payload[\"pressure_hPa\"];\n\nmsg.payload = {\n    temp:temperature,\n    hum:humidity,\n    press:pressuer\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["b83977e7.486e48","b5c9e9d7.3be418"]]},{"id":"b5c9e9d7.3be418","type":"wiotp out","z":"32df322.7902ace","authType":"d","qs":"true","qsDeviceId":"b5c9e9d7.3be418","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":790,"y":360,"wires":[]}]
